<h1 style="text-align:center">View data</h1>
<hr>



<div class="container -fluid">
  <form > 
    <div class="row">
        <div class="col-4">
              <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
                <mat-label>GST</mat-label>
                <input matInput name="gst"[(ngModel)]="groups.gst"placeholder="X1RTSGJJ " >
              </mat-form-field>
        </div>

        <div class="col-4">
      
              <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
                <mat-label>Pan Number</mat-label>
                <input matInput name="pannumber"[(ngModel)]="groups.pannumber" placeholder="NHGDFRG73S" >
              </mat-form-field>
         </div>

         <div class="col-4">
        
              <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
                <mat-label>code</mat-label>
                <input matInput type="number"name="code"[(ngModel)]="groups.code" placeholder="09651452" >
              </mat-form-field>
         </div>
    </div>



    <div class="row">
      <div class="col-4">
  
            <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="name"name="names"[(ngModel)]="groups.names" placeholder="EX:AJAY" >
            </mat-form-field>
      </div>

      <div class="col-4">
   
          <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput name="address"[(ngModel)]="groups.address" placeholder="DELHI" ></textarea>
          </mat-form-field>
     </div>

     <div class="col-4">
     
          <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
            <mat-label>Pincode</mat-label>
            <input matInput type="number"name="pincode"[(ngModel)]="groups.pincode" placeholder="Pincode" >
          </mat-form-field>
     </div>
</div>

<br>


<div class="row">
  <div class="col-4">
   
    <mat-form-field appearance="outline"[style.width.px]=357>
      <mat-label>Country</mat-label>
      <mat-select [(ngModel)]="groups.country"name="country">
        <mat-option *ngFor="let countri of country" [value]="countri.value">
          {{countri.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>

 
  <div class="col-4">
   
    <mat-form-field appearance="outline"[style.width.px]=357>
      <mat-label>State</mat-label>
      <mat-select [(ngModel)]="groups.state"name="state">
        <mat-option *ngFor="let states of state" [value]="states.value">
          {{states.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
   
   
    <div class="col-4">
   
      <mat-form-field appearance="outline"[style.width.px]=357>
        <mat-label>City</mat-label>
        <mat-select name="city"[(ngModel)]="groups.city" >
          <mat-option *ngFor="let citie of city" [value]="citie.value">
            {{citie.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>


    <div class="col-4">
        
    </div>

    <div class="col-4">
      
          <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
            <mat-label>Phone number</mat-label>
            <input matInput type="number" name="phone"[(ngModel)]="groups.phone" placeholder="X1235211221" >
          </mat-form-field>
     </div>

     <div class="col-4">
          <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
            <mat-label>Email address</mat-label>
            <input matInput type="email"name="mail"[(ngModel)]="groups.mail" placeholder="xyz@gmail.com" >
          </mat-form-field>
     </div>
</div>
<br>
<div class="row">
    <div class="col-4">
 
          <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
            <mat-label>Latitude</mat-label>
            <input matInput type="number"name="latitude"[(ngModel)]="groups.latitude" placeholder="223.25" >
          </mat-form-field>
    </div>

    <div class="col-4">
    
          <mat-form-field [style.width.px]=357 class="example-full-width" appearance="outline">
            <mat-label>Longitude</mat-label>
            <input matInput type="number"name="longitude"[(ngModel)]="groups.longitude" placeholder="123.25" >
          </mat-form-field>
     </div>

     <div class="col-4 ">

      <mat-form-field appearance="outline"[style.width.px]=357>
        <mat-label>Currency</mat-label>
        <mat-select [(ngModel)]="groups.currency"name="currency" >
          <mat-option *ngFor="let currencies of currency" [value]="currencies.value">
            {{currencies.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      </div>

</div>
<br>
</form>

<div class="row">
    <div style="text-align: center;"class="col-12">
        <button routerLink="/" class="btn btn-primary">HOME </button>  &nbsp; 
        <button routerLink="/view" class="btn btn-dark">BACK </button> 
     
    </div>